<% content_for :page_title do %>
  <%= link_to Spree.t(:boxes), admin_boxes_url %>
  / <%=@box.name %>
<% end 
%>
<%= render partial: 'spree/admin/shared/box_tabs', locals: {current: :dishes} %>
<div class="form-group field col-md-12">

	<div class="form-group field col-md-12" id="box_dish_field">
		  <% @dish_types.each do |dish_type| %>
				<div class="form-group col-md-12" data-dish-type="<%= dish_type.id%>" id="dish_field">
				  <label for="dish_box_dish"><%= dish_type.name%>:</label>
				  <% @box.products.each do |dish| %>
				  	<% if dish.dish_type_id == dish_type.id %>
					  	<div id="dish-<%= dish_type.id%>" class = "dish">
					  			<div class="image"><%= product_image dish %></div>
					  			<div class="product-name"><%=dish.name%></div>
					  			<span class="icon icon-chevron-down" style="padding-top: 20px;float: right;"></span>
					  	</div >
					  	<div id="select-dish-<%= dish_type.id%>" class="select-dish">
					  		<form class='form-search' role='search'  method='get'  name='form-search' autocomplete='off'>
						  	  <div class='input-group' data-id='<%= dish_type.id%>' style="width: 100%;">
						      	<input type='text' class='form-control' name='q' id='q' type='text' placeholder='Choose the dish'>
						  		</div>
						  		<div class='search-result' data-product-id-old='<%= dish.id%>' id='search-result-<%= dish_type.id%>' data-box='<%= @box.id%>'  data-index='<%= dish_type.id%>'>
						  		</div>
						   	</form>
					  	</div>
					  <% end  %>
				 	<% end  %>
				</div>
			<%end%>
	</div>
</div>
<%=  javascript_include_tag "assets/spree/backend/box/box_products.js" %>


<script type="text/javascript">
  $(".select-dish").hide();
  $("body").on('click', '#dish_field', function() {
    var dish_type = $(this).attr('data-dish-type');
    $(".select-dish").hide();
    $("#select-dish-" + dish_type).show();
  })
  $("body").on('keyup', '#q', function() {
    var index = $(this).parent().attr('data-id');
    $("#search-result-" + index).show();
    var q = $(this).val();
    var index = $(this).parent().attr("data-id");
    updateSearchListDishType(q, index);
  });

  $("body").on('click', '.product-select', function() {
    var product_id_new = $(this).attr('data-id');
    var data_box = $(this).parent().parent().parent().attr("data-box");
    var data_index = $(this).parent().parent().parent().attr("data-index");
    var product_id_old = $(this).parent().parent().parent().attr("data-product-id-old");
    console.log(product_id_new);
    console.log(data_box);
    console.log(product_id_old);
    addDishToBox(product_id_new, product_id_old, data_box, data_index);
  });

  function addDishToBox(product_id_new, product_id_old, box_id, index) {
    Url = Spree.routes.box_product_create;
    $.ajax({
      url: Url,
      type: "post",
      data: {
        token: Spree.api_key,
        product_id_old: product_id_old,
        box_id: box_id,
        product_id_new: product_id_new,


      },
      success: function(data_result) {
        dish = data_result.products
        var dish_image;
        if (dish.images[0] != null)
          dish_image = dish.images[0].product_url;
        else dish_image = "/assets/noimage/large.png";
        var name = "#dish-" + index;
        $(name).html("");
        $(name).append(
          "<div class='image'><img src='" + dish_image + "'></div>\
					 <div class='product-name'>" + dish.name + "</div>\
					 <span class='icon icon-chevron-down' style='padding-top: 20px;float: right;''></span>"
        );
        $("#search-result-" + index).attr("data-product-id-old", dish.id);
        //window.location.reload(true);
      },
      error: function(result) {
        alert("Something is Wrong!")

      }
    });
  }

  function updateSearchListDishType(q, dish_type) {
    Url = Spree.routes.products_search_by_dish_type_and_name;

    $.ajax({
      url: Url,
      type: "post",
      async: false,
      data: {
        token: Spree.api_key,
        "q": q,
        "dish_type": dish_type
      },
      success: function(result) {
        var html = "";
        if (result == null || result.products.length == 0)
          $("#search-result-" + dish_type).html(html);
        else {

          var html = "<table class='table table-hover table-striped table-search'>";
          $.each(result.products, function(idx, dish) {
            var dish_image;
            if (dish.images[0] != null)
              dish_image = dish.images[0].product_url;
            else dish_image = "/assets/noimage/large.png";
            html += "<tr class='product-select' data-id='" + dish.id + "'>\
		                  <td class ='product-image'><img src='" + dish_image + "'></td>\
		                  <td class ='product-image'>" + dish.name + "</td>\
		                </tr>";
          });
          html += " </table>";
          $("#search-result-" + dish_type).html(html);
        }

      },
      error: function(result) {
        alert(result);
      }
    });
  }
</script>
